body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    background-color: #161616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1::first-letter,
h2::first-letter {
    color: #ffc600;
}

/* container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.container--intro {
    background-color: transparent;
}

/* drop button */

.drop {
    display: none;
}

.drop__btn {
    font-size: 40px;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 0 10px 3px;
    position: absolute;
    z-index: 10;
}

/* container__header */

.title {
    position: relative;
}

.title__h1 h1 {
    font-size: 202px;
    font-weight: 700;
    letter-spacing: -10px;
    line-height: 0.75em;
    color: #fff;
}

.title__h1 {
    padding-left: 35px;
    padding-top: 110px;
}

.title h4 {
    padding-left: 40px;
    padding-top: 20px;
    line-height: 0.75em;
    color: #fff;
}

.title h4::first-letter {
    color: #ffc600;
}

.title p {
    color: #ffc600;
    padding: 30px 0 70px 40px;
    line-height: 0.75em;
}

.subtitle h2 span {
    color: #ffc600;
}

.subtitle h2 {
    font-size: 60px;
    padding: 70px 0 60px 45px;
    letter-spacing: -2px;
    line-height: 0.75em;
    color: #fff;

}

.subtitle {
    width: 40%;
}

.nav__main {
    padding-left: 40px;
}

/* animation start */

.nav__link {
    display: inline-block;
    margin-right: 35px;
    text-decoration: none;
    color: #ffc600;
    position: relative;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    width: 100%;
    height: 1px;

    background-color: #ffc600;
    opacity: 0;
    position: absolute;

    top: 100%;
    left: 0%;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:hover:after {
    opacity: 1;
}

/* animation finish */

.container__header {
    width: 100%;
    background-image: url(../images/backgrounds/Layer\ 2.jpg);
    background-size: cover;
    position: relative;
}

.title__nav {
    max-width: 100%;
    background-size: cover;
    min-height: 654px;
    background-image: url(../images/backgrounds/Layer\ 5.jpg);
}

/* container about */

.about__title p {
    color: #717171;
    font-size: 30px;
}

.about__title p::first-letter {
    font-size: 50px;
    font-weight: 700;
    line-height: 0.75em;
}

.about__top {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.about__title {
    width: 50%;
}

.container__text--about {
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid #c5c5c5;
}

.about__title h2 {
    font-size: 80px;
    line-height: 0.75em;
}

/* container text start */

.container__text h4 {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 20px;
}

.container__text p {
    font-size: 14px;
    color: #595959;
}

/* contaiber text finish */

.title__block {
    margin-left: 130px;
    margin-top: 60px;
}

.about__sublime {
    display: block;
    position: relative;
    padding-bottom: 10px;
}

.about__sublime::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #c5c5c5;

    position: absolute;
    
    top: 100%;
    left: 50%;
}

.about__offers {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.offers {
    text-align: center;
    width: 20%;
    margin-right: 90px;
    margin-bottom: 60px;
}

.offers:last-child {
    margin: 0;
}

.offers__logo {
    max-width: 100%;
    margin: 0 auto;
    background-color: #e8e8e8;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 2px solid #ffa800;
    font-size: 25px;
    margin-bottom: 24px;
}

.offers__logo i {
    text-align: center;
    padding-top: 14px;
}

.offers__title {
    margin-bottom: 25px;
}

.offers__text {
    font-size: 10px;
    font-style: italic;
}

/* container featured */


/* container title start */

.container__title {
    display: inline-block;
    font-size: 30px;
    position: relative;
}

.container__title::after {
    content: "";
    width: 55%;
    height: 1px;
    background-color: #c5c5c5;

    position: absolute;
    
    top: 100%;
    left: 45%;
}

.container__title>h3::first-letter {
    color: #ffc600;
    font-size: 50px;
}

.container__title>h3>b {
    font-size: 50px;
}

/* container title finish */

.container__title--featured {
    margin-left: 80px;
    padding-top: 50px;
}

.featured__nav {
    margin-left: 80px;
}

.featured__link {
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    color: #101010;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    margin-inline: 5px;
    transition: margin-inline .3s linear;
}

.featured__link:hover {
    margin-inline: 20px;
    transition: margin-inline .1s linear;
}

.featured__link::after {
    content: "";
    width: 60%;
    height: 1px;
    position: absolute;
    opacity: 0;
    background-color: #ffc600;

    transition: opacity .3s linear;

    top: 100%;
    left: 20%;
    z-index: 1;
}

.featured__link:hover:after {
    opacity: 1;
    transition: background-color .1s linear;
}

.featured__images {
    display: grid;
    margin-top: 25px;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2);
}

.featured__img {
    max-width: 100%;
    height: auto;
    width: 300px;
    height: 267px;
    margin-top: 2px;

    transition: transform .3s ease;
}

.featured__img:hover {
    transform: scale(1.2);

    transition: transform .3s ease;
}

/* container__strategic */

.container__title--strategic {
    margin-left: 80px;
    padding-top: 50px;
}

.container__text--strategic {
    padding-block: 25px;
    padding-inline: 80px;
}

.processes {
    max-width: 71.66%;
    margin: 20px auto 0;
    padding-bottom: 65px;
}

.method {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.method--revers {
    flex-direction: row-reverse;
}

.method__img {
    display: block;
    width: 100%;
    width: 430px;
    max-height: 288px;
}

.process__text {
    display: block;
    width: 100%;
    padding: 30px;
    min-width: 429px;
    max-height: 288px;
}

.method__title>h4, 
.method__title>h4>span {
    display: inline-block;
    font-size: 30px;
}

.method__title>h4::first-letter, 
.method__title>h4>span::first-letter {
    font-size: 50px;
}

/* container services */

.container--services {
    background-image: url(../images/backgrounds/Layer\ 25.jpg);
    background-size: cover;
    color: #fff;
}

.container__title--services {
    margin-top: 40px;
    margin-left: 50px;
}

.service__main {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.service__grid {
    display: grid;
    grid-column: 6/13;
}

.service__offers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.offers__type {
    padding-right: 85px;
}

.offers__type--upper {
    margin-bottom: 55px;
}

.offers__type--under {
    margin-bottom: 45px;
}

.offers__type>h5 {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.offers__type>p {
    font-size: 11px;
}

/* container team */

.container--team {
    display: flex;
    width: 100%;
}

.container__title--team {
    margin-top: 80px;
    margin-left: 50px;
}

.title__grid {
    width: 25%;
}

.container__text--team {
    margin-right: 250px;
}

.block__team {
    width: 75%;
    margin-top: 70px;
    margin-bottom: 150px;
}

.team {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
}

.team__img {
    margin-bottom: 15px;
}

.text__team {
    font-size: 16px;
    font-style: italic;
}

.text__team>p::first-line {
    font-style: normal;
    font-weight: 700;
}

/* container testimonials */

.container--testimonials {
    background-color: #000000;
    color: #fff;
}

.container--testimonials {
    display: flex;
}

.container__title--testimonials {
    margin-top: 55px;
    margin-left: 65px;
}

.testimonials__text {
    width: 60%;
}

.testimonials__block {
    width: 40%;
    margin: auto 0;
}

.container__text--testimonials {
    margin: 90px 0 160px 70px;
}

.container__text--testimonials>p {
    color: #fff;
}

.testimonials__logo {
    margin-bottom: 20px;
}

.testimonials__logo>img {
    border: 4px solid #ffa800;
    border-radius: 50%;
    height: 121px;
    width: 121px;
}

.testimonials__blocklogo {
    display: inline-block;
    text-align: center;
    margin-left: 80px;
}

/* container blogs */

.container__title--blogs {
    margin: 60px 0 50px 60px;
}

.container--blogs {
    display: flex;
}

.block__blogsnav {
    width: 27%;
    padding-bottom: 110px;
}

.blogsviews {
    width: 73%;
    display: flex;
    justify-content: center;
}

.blogsnav {
    margin-left: 140px;
}

.blogs__link {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 25px;

    transition: color .2s linear;
}

.blogs__link:hover {
    color: #ffc600;

    transition: color .1s linear;
}

.blogs__content {
    margin-top: 30px;
    margin-right: 80px;
    display: inline-block;
    width: 190px;
}

.blogs__content:last-child {
    margin-right: 0;
}

.blog__picture>p {
    color: #ffc600;
    font-weight: 700;
    margin-bottom: 25px;
}

.blog__img {
    width: 180px;
    height: 206px;
}

.blogs__text>a {
    text-decoration: none;
    color: #000000;

    transition: color .2s linear;
}

.blogs__text>a:hover {
    color: #ffc600;

    transition: color .1s linear;
}

.blogs__text>a>h5 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

.blogs__text>p {
    font-size: 12px;
    font-style: italic;
}

/* container contact us */

.container--contact_us {
    background-color: #1840b2;
    color: #fff;
    display: flex;
}

.bg_map {
    width: 42%; 
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.map>a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    z-index: 10;
}

.map__img {
    /* background-size: cover; */
    max-width: 100%;
    min-height: 684px;
    object-fit: cover;
    background-size:cover;
}

.contact__us {
    width: 58%;
    display: block;
}

.container__title--contact_us {
    margin-top: 50px;
    margin-left: 95px;
}

.block__form {
    margin-left: 75px;
    margin-top: 5px;
    width: inherit;
}

.name {
    width: 100%;
}

.mob_email {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile {
    width: 40%;
}

.email {
    width: 50%;
} 

.message {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.submit {
    width: 30%;
    background-color: #ffc600;
    color: #000000;
    text-transform: uppercase;
    border: none;
    padding: 10px 35px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
    cursor: pointer;

    transition: background-color .1s linear;
}

.submit:hover {
    background-color: #ffa800;

    transition: background-color .1s linear;
}

.submit:focus {
    outline: 0;
}

.data {
    background: none;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid #fff;
    font-size: 16px;
}

.data:focus {
    outline: 0;
    border-color: #ffc600;
}

.data::placeholder {
    color: #fff;
}

.text__contacts {
    width: inherit;
    margin-left: 100px;
}

.location {
    margin-top: 40px;
}

.location>a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 700;

    transition: color .1s linear;
}

.location>a:hover {
    color: #ffc600;

    transition: color .1s linear;
}

.contacts {
    display: flex;
    width: inherit;
    margin-top: 10px;
}

.contacts__title {
    width: 50%;
}

.contacts__title>h6 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}

.contacts__text {
    width: 100%
}

.contacts__text>p {
    font-size: 12px;
    margin-top: 15px;
}

.social__icons {
    margin-top: 10%;
    width: inherit;
    border-top: 2px solid #7386bc;
    margin-left: 75px;
}

.icons {
    display: flex;
    padding-left: 22px;
    margin-top: 8px;
}

.icons>a {
    margin-right: 4px;
}

.circle {
    background-color: #dedfe0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;

    transition: color .1s linear;
}

.circle:hover {
    background-color: #b5b5b5;

    transition: color .1s  linear;
}

.circle>i {
    font-size: 10px;
    color: #1840b2;
}

.fa-twitter {
    position: absolute;
    left: 5px;
    top: 5px;
}

.fa-linkedin-in, .fa-facebook-f {
    position: absolute;
    left: 6px;
    top: 5px;
}
    
.circle__map {
    background-color: #000000;
    width: 60px;
    height: 60px;
    border: 2px solid #fba706; 
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.circle__map:hover {
    box-shadow: 0 0 40px rgba(255, 204, 0, 1);
}

.circle__map>p {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 19px;
    left: 5px;
}

.circle__map>p::first-letter {
    color: #ffc600;
}

.bg_content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 75px;
    background-color: #fff;
}

/* container footer */

.container--footer {
    background-color: #000000;
    color: #fff;
    display: flex;
}

.footer__block_nav {
    width: 27%;
}

.footer__title {
    margin: 100px 40px 0 25px;
}

.footer__title>h3 {
    font-size: 60px;
    letter-spacing: -2px;
    font-weight: 700;
}

.footer__title>h3::first-letter {
    color: #ffc600;
}

.footer__nav {
    margin: 55px 27px 30px 27px;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding-bottom: 17px;
    font-weight: 700;
    text-transform: uppercase;

    transition: color .2s linear;   
}

.footer__link:hover {
    color: #ffc600;

    transition: color .1s linear;
}

.icons--footer {
    padding-left: 27px;
    padding-top: 12px;
    position: relative;
}

.icons--footer::before {
    content: "";
    display: block;
    background-color: #ffc600;
    position: absolute;
    height: 3px;
    width: 40%;

    bottom: 100%;
}

.circle--footer {
    background-color: #fff;   
}

.circle--footer>i {
    color: #000000;
}

.footer__img {
    max-width: 100%;
    min-height: 654px;
    object-fit: cover;
    background-size:cover;
}

.footer__bg {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.subtitle__footer {
    position: absolute;
    z-index: 10;
    margin-left: 20px;
    margin-top: 22%;
}

.subtitle__footer>p>span {
    display: inline-block;
    color: #ffc600;
}

.subtitle__footer>p {
    font-size: 111px;
    font-weight: 700;
    letter-spacing: -4px;
    line-height: 0.85em;
}

/* copyright */

.copyright {
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-block: 10px;
}

@media (max-width: 1210px) {
    .container {
        max-width: 1230px;
        padding-inline: 15px;
    }
    .featured__images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .featured__img {
        margin: 3px;
    }
    .processes {
        width: 100%;
    }
}

@media (max-width: 1136px) {
    .container--team {
        display: block;
    }
    .title__grid {
        display: block;
        width: 100%;
    }
    .block__team {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
        padding: 30px 30px 100px;
    }
    .container__text--team {
        margin-right: 0;
        padding-inline: 20px;
    }
    .blogsnav {
        margin-left: 60px;
    }
    .blogs__content {
        margin-right: 50px;
    }
    .contact__us {
        width: 70%;
    }
    .bg_map {
        width: 50%; 
    }
}

@media (max-width: 1000px) {
    .title__block {
        margin-left: 80px;
    }
    .container__text--strategic{
        padding-inline: 20px;
    }
    .service__grid {
        display: grid;
        grid-column: 3/13;
        margin-top: 20px;
    }
    .blogs__content {
        margin-top: 60px;
    }
    .contact__us {
        width: 85%;
    }
    .subtitle__footer {
        margin-top: 0;
        width: 40%;
    }
    .container__title--contact_us, .block__form, .text__contacts, .social__icons {
        margin-left: 50px;
    }
    .bg_map {
        width: 60%; 
    }
}

@media (max-width: 924px) {
    .method {
        flex-wrap: wrap;
    }
    .main__team {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline: 15%;
    }
    .method__img {
        width: 350px;
    }
    .block__blogsnav {
        width: 40%;
    }
    .blogsviews {
        flex-wrap: wrap;
        align-items: center;
        justify-content:start;
    }
    .blogs__content {
        margin: 30px 20px;
        width: 40%;
    }
    .blogs__content:last-child {
        margin-right: 20px;
    }
    .footer__title>h3 {
        font-size: 40px;
    }
}

@media (max-width: 770px) {
    .title__h1 h1 {
        font-size: 150px;
        letter-spacing: -5px;
    }
    .title__nav {
        background-position: center;
        min-height: 100%;
    }
    .container__header {
        background-position: center;
    }
    .nav__main {
        display: none;
    }
    .about__top {
        flex-direction: column;
        align-items: center;
    }
    .title__block {
        margin: 10px 0 40px;
    }
    .about__title {
        width: 100%;
    }
    .container__text--about {
        width: 100%;
        border: none;
        padding-left: 0;
    }
    .method {
        padding-inline: 20px;
    }
    .offers {
        width: 30%;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .offers__text {
        font-size: 12px;
    }
    .main__team {
        padding-inline: 5%;
    }
    .block__blogsnav {
        width: 40%;
    }
    .blogsviews {
        width: 60%;
        flex-direction: column;
        align-items: center;
    }
    .blogs__content {
        margin-right: 0;
        margin-top: 10px;
        width: 70%;
    }
    .container__title--contact_us, .block__form, .text__contacts, .social__icons {
        margin-left: 30px;
    }
    .submit {
        width: 50%;
    }
    .circle {
        width: 40px;
        height: 40px;
    }
    .circle>i {
        font-size: 25px;
    }
    .fa-twitter {
        left: 7px;
        top: 8px;
    }
    .fa-linkedin-in {
        left: 9px;
        top: 7px;
    }
    .fa-facebook-f {
        left: 11px;
        top: 7px;
    }
    .subtitle__footer>p {
        font-size: 80px;
        line-height: 1em;
    }
    .footer__block_nav {
        display: none;
    }
    .footer__link {
        font-size: 18px;
        padding-bottom: 25px;
    }
    .footer__title {
        margin: 60px 40px 0;
    }
    .footer__nav {
        margin: 10px 27px 30px 27px;
    }
    .contacts__text>p {
        margin-top: 20px;
    }
    /* drop width 770px */
    .drop {
        display: block;
    }
    .drop:hover .footer__block_nav {
        display: block;
        position: absolute;
        background-color: #000000;
        width: 80vw;
        color: #fff;
        padding-bottom: 30px;
    }
}

@media (max-width: 580px) {
    .title__h1 h1 {
        font-size: 120px;
        letter-spacing: -5px;
    }
    .about__title p {
        font-size: 20px;
    }.about__title h2 {
        font-size: 60px;
    }  
    .about__offers {
        flex-direction: column;
        align-items: center;
    }
    .offers {
        width: 80%;
        margin-bottom: 30px;
    }
    .featured__nav {
        margin-left: 40px;
    }
    .featured__link {
        font-size: 15px;
        margin-block: 15px;
    }
    .method__img {
        width: 300px;
    }
    .process__text {
        min-width: 300px;
        max-height: 500px;
    }
    .service__grid {
        grid-column: 2/14;
    }
    .offers__type {
        padding-right: 40px;
    }
    .container__text--testimonials {
        margin: 50px 0 100px 20px;
    }
    .testimonials__blocklogo {
        margin-left: 40px;
    }
    .bg_map {
        display: none;
    }
    .container--contact_us {
        padding-bottom: 30px;
    }
    .location>a {
        font-size: 20px;
    }
    .contacts__title>h6 {
        font-size: 20px;
        margin-top: 22px;
    }
    .contacts__text>p {
        font-size: 18px;
        margin-top: 25px;
    }
    .contact__us {
        width: 95%;
    }
    .container__footer {
        display: none;
    }
    .blogsnav {
        margin-left: 20px;
    }
    .container__title--blogs {
        margin: 60px 0 50px 15px;
    }  
}

@media (max-width: 450px) {
    .title__h1 h1 {
        font-size: 70px;
        letter-spacing: -2px;
    }
    .title h4 {
        line-height: 1em;
        font-size: 15px;
    }
    .testimonials__blocklogo {
        margin-left: 10px;
    }
    .blogs__content {
        width: 100%;
        margin-left: 0;
    } 
    .container__title--strategic, .container__title--strategic ,.container__title--featured {
        margin-left: 20px;
    }
}